[Unit]
Description=gopls

[Service]
ExecStart=/usr/local/bin/zsh /home/yuzx/.config/systemd/user/run_gopls.sh
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=default.target
