[Unit]
Description=gopls

[Service]
EnvironmentFile=-/home/yuzx/.config/systemd/user/env.conf
ExecStartPre=-rm -f /var/run/go/gopls-daemon-socket
ExecStart=/usr/local/bin/zsh /home/yuzx/.config/systemd/user/run_gopls.sh
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=default.target

