" 读取 .vimrc 的内容，开启后会出现 ,c 的对话框一闪而过
" source ~/.vimrc

" 设置快捷键前缀，即：<leader>
let mapleader=","

" Highlight searches（高亮搜索结果）
set hlsearch
" Clear search highlight by hitting enter
nnoremap <silent> <CR> :noh<CR>

" Ignore case of searches
set ignorecase smartcase

" Highlight dynamically as pattern is typed（搜索时大小写不敏感）
set incsearch

" Disable error bells
set noerrorbells

" Show the current mode
set showmode

" Start scrolling three lines before the horizontal window border
set scrolloff=3

" 设置历史记录数
set history=1000

" Enable line numbers（行号）
set number

vnoremap <Leader>y "+y
map <Leader>p "+p
" 方便多处替换
vmap <Leader>v "0p

" Reselect visual block after indent/outdent
vnoremap < <gv
vnoremap > >gv

" Insert mode
inoremap <C-h> <Left>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-l> <Right>

" idea
" https://github.com/saaguero/ideavimrc/blob/master/.ideavimrc

" 格式化代码
map \r :action ReformatCode<CR>

" 查找 action
" :actionlist [pattern]
" 执行 action
" :action {name}

" nnoremap <space>q :action CloseContent<cr>
" 两次 shift
" nnoremap <space>e :action SearchEverywhere<cr>
" nnoremap <space>a :action GotoAction<cr>
" nnoremap <space>t :action GotoSymbol<cr>
" nnoremap <space>d :action GotoDeclaration<cr>
" nnoremap <space>op :action PreviousOccurence<cr>
" nnoremap <space>on :action NextOccurence<cr>
" nnoremap <space>hu :action HighlightUsagesInFile<cr>
"
nnoremap <space>fu :action FindUsages<cr>

nnoremap <space>O :action GotoFile<cr>
nnoremap <space>o :action GotoClass<CR>
nnoremap <space>] :action GotoImplementation<cr>
nnoremap <space>[ :action GotoSuperMethod<cr>

nnoremap <Space>h :action QuickJavaDoc<CR>
nnoremap <Space>st :action Scala.TypeInfo<CR>
nnoremap <Space>pi :action ParameterInfo<CR>

nnoremap <space>rr :action RenameElement<cr>

nnoremap <space>mu :action MethodUp<cr>
nnoremap <space>md :action MethodDown<cr>

nnoremap \xr :action RunClass<cr>
nnoremap \xR :action Run<cr>
nnoremap \xd :action DebugClass<cr>
nnoremap \xD :action Debug<cr>

" built-in navigation to navigated items works better
" nnoremap <space>\ :action VimFilePrevious<cr>
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>
" but preserve ideavim defaults
nnoremap g<c-o> <c-o>
nnoremap g<c-i> <c-i>

" built in search looks better (在 idea14 不 work)
" nnoremap <space>f :action Find<cr>
" but preserve ideavim search
" nnoremap g/ /

" yiw -> <space>gf -> /<c-r>0

