! https://wiki.archlinux.org/index.php/Xterm

! A comma separated list of font names that are checked in order when trying to find glyphs for characters. 
! Man for coding, nothing beats the terminus font.. nothing! Also, notice that boldFont, italicFont, and boldItalicFont are specified as well. This makes a huge difference you will notice right away.
URxvt*font: xft:DejaVu Sans Mono for Powerline:size=11,xft:WenQuanYi Zen Hei Mono,xft:WenQuanYi Bitmap Song
! URxvt*boldFont: DejaVu Sans Mono for Powerline:style=Bold:size=24,xft:WenQuanYi Zen Hei Mono,xft:WenQuanYi Bitmap Song:style=Bold
! URxvt*italicFont: xft:DejaVu Sans Mono for Powerline:style=Oblique:size=14,xft:WenQuanYi Bitmap Song
! URxvt*boldItalicFont: xft:DejaVu Sans Mono for Powerline:style=Bold Oblique:size=14,xft:WenQuanYi Bitmap Song

! URxvt*letterSpace: 0

! Start as a login shell by prepending a - to argv[0] of the shell. Again, for tmux, this is super-helpful and causes your bash login files like ~/.bash_profile to be loaded.
URxvt*loginShell: true
! Specifies the terminal type name to be set in the TERM environment variable. I use tmux so this is helpful.
URxvt*termName: screen-256color
! Create the window with the specified X window geometry [default 80x24].. base it on your $LINES and $COLUMNS.
URxvt*geometry: 120x84
URxvt*scrollColor: #777777
URxvt*scrollstyle: plain
! True: scroll to bottom when a non-special key pressed. Special keys are those which are intercepted by rxvt for special handling andnt passed onto the shell
URxvt*scrollTtyKeypress: true
! Do not scroll to bottom when tty receives output
URxvt*scrollTtyOutput: false
! Do not scroll with scrollback buffer when tty recieves new lines, adds some speed.. also, I use tmux scrollback buffers.
URxvt*scrollWithBuffer: false
URxvt*secondaryScreen: true
URxvt*secondaryScroll: true
! For speed. When receiving lots of lines, urxvt will only scroll once in a while (around 60x/sec), resulting in fewer updates. This can result in urxvt not ever displaying some of the lines it receives
URxvt*skipScroll: true
! Disable the scrollbar.. why waste valuable screen real-estate when you should be using tmux scrollback?
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollBar_floating: false
! Fade the text by the given percentage when focus is lost. This is neat, when I switch to a different window, or switch to a different machine ala synergy, it will fade the screen slightly.
URxvt*fading: 30
URxvt*utmpInhibit: false
URxvt*urgentOnBell: false
! Use visual bell on receipt of a bell character. Helpful to be used with inputrc and tmux.
URxvt*visualBell: false
URxvt*mapAlert: true
URxvt*mouseWheelScrollPage: false
! Use the specified colour as the windows background colour [default White]. Why in the world would you default white unless you are old-school... as in 70s.
! URxvt*background: Black
! Use the specified colour as the windows foreground colour [default Black]. see above.
! URxvt*foreground: White
! Use the specified colour to disp1ay underlined characters when the foreground colour is the default. Makes it easier to notice, rxvt-unicode authors choice as well.
URxvt*colorUL: yellow
! If set, use the specified colour as the colour for the underline itself. If unset, use the foreground colour
URxvt*underlineColor:  yellow
! Save number lines in the scrollback buffer [default 64]. This resource is limited on most machines to 65535. I am a power-user, so I always use a multiplexer. Tmux if its available, otherwise screen. So I use the scrollback buffer in tmux or screen, which is much nicer.
URxvt*saveLines: 0
! Compile xft: Turn on/off double-buffering for xft (default enabled).  On some card/driver combination enabling it slightly decreases performance, on most it greatly helps it. The slowdown is small, so it should normally be enabled.
URxvt*buffered: true
URxvt*hold: false
URxvt*internalBorder:
! Specify a command pipe for vt100 printer [default lpr]. Use Print to initiate a screen dump to the printer and Ctrl-Print or Shift-Print to include the scrollback
URxvt*print-pipe: cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
! Comma-separated list(s) of perl extension scripts (default: "default") to use in this terminal instance, blank disables. By setting these both to blank, it completely disables perl from being initialized, thus much faster and smaller footprint. Plus it is more secure.
URxvt*perl-ext-common:
URxvt*perl-ext:
! Compile xft: Attempt to find a visual with the given bit depth; option -depth.
URxvt*depth: bitdepth

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.render: True
Xft.core: Flase
Xft.dpi: 96
Xft.antialias: True
Xft.rgba: rgb
Xft.hinting: True
Xft.scale: 1.0
Xft.minspace: True
! Hintstyle is the amount of font reshaping done to line up to the grid. 
! Hinting values are: hintnone, hintslight, hintmedium, and hintfull. 
! hintslight will make the font more fuzzy to line up to the grid but will be better in retaining font shape, while hintfull will be a crisp font that aligns well to the pixel grid but will lose a greater amount of font shape. Preferences vary.
Xft.hintstyle: hintslight

! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light

! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

*background:              S_base03
*foreground:              S_base0
*fading:                  40
*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color9:                  S_orange
*color8:                  S_base03
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3


